@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "cabinetBlack";
  src: url("../fonts/Cabinet-Font/CabinetGrotesk-Black.ttf")  format("truetype");
}

@font-face {
  font-family: "cabinetBold";
  src: url("../fonts/Cabinet-Font/CabinetGrotesk-Bold.ttf")  format("truetype");
}

@font-face {
  font-family: "cabinetExtrabold";
  src: url("../fonts/Cabinet-Font/CabinetGrotesk-Extrabold.ttf")  format("truetype");
}

@font-face {
  font-family: "cabinetMedium";
  src: url("../fonts/Cabinet-Font/CabinetGrotesk-Medium.ttf")  format("truetype");
}

@font-face {
  font-family: "cabinetRegular";
  src: url("../fonts/Cabinet-Font/CabinetGrotesk-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: "GilroyExtraBold";
  src:local("GilroyExtraBold") , url("../fonts/Gilroy-Font/Radomir Tinkov - Gilroy-ExtraBold.otf") ;
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold") ,url("../fonts/Gilroy-Font/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroySemiBold";
  src: local("GilroySemiBold") ,url("../fonts/Gilroy-Font/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyMedium";
  src: local("GilroyMedium") ,url("../fonts/Gilroy-Font/Gilroy-Medium.ttf") format("truetype");
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
